In [28]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [29]:
d = pd.read_csv('dane.csv')
d.info()
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df1 = d[d.isna().any(axis=1)]
df1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 25 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   identyfikator                380 non-null    int64
 1   powiat                       380 non-null    object
 2   populacja_ogolem             380 non-null    int64
 3   populacja_produkcyjna        380 non-null    int64
 4   stadiony                     380 non-null    int64
 5   hale_sportowe                380 non-null    int64
 6   sale_gimnastyczne            380 non-null    int64
 7   korty_tenisowe               380 non-null    int64
 8   plywalnie                    380 non-null    int64
 9   wodociagi                    380 non-null    int64
 10  drogi_utwardzone_na_obszar   380 non-null    float64
 11  drogi_utwardzone_na_ludnosc  380 non-null    float64
 12  drogi_gruntowe_na_obszar     380 non-null    float64
 13  drogi_gruntowe_na_ludnosc    380 non-null    float64
 14  gaz                          380 non-null    int64
 15  technika_zawodowki           380 non-null    float64
 16  sciezki_rowerowe_na_obszar   380 non-null    float64
 17  sciezki_rowerowe_na_ludnosc  380 non-null    float64
 18  przystanki_zbiorkom          380 non-null    int64
 19  licea                        380 non-null    float64
 20  kanalizacja                  380 non-null    float64
 21  wynagrodzenia                380 non-null    float64
 22  odbior_odpadow               380 non-null    float64
 23  koszty_odpadow               378 non-null    float64
 24  szkoly_podstawowe            373 non-null    float64
dtypes: float64(13), int64(11), object(1)
memory usage: 74.3+ KB

,identyfikator,powiat,populacja_ogolem,populacja_produkcyjna,stadiony,hale_sportowe,sale_gimnastyczne,korty_tenisowe,plywalnie,wodociagi,drogi_utwardzone_na_obszar,drogi_utwardzone_na_ludnosc,drogi_gruntowe_na_obszar,drogi_gruntowe_na_ludnosc,gaz,technika_zawodowki,sciezki_rowerowe_na_obszar,sciezki_rowerowe_na_ludnosc,przystanki_zbiorkom,licea,kanalizacja,wynagrodzenia,odbior_odpadow,koszty_odpadow,szkoly_podstawowe
9,10,Powiat lubański,53852,32376,7,2,2,4,2,46302,104.2,82.9,9.1,7.2,28596,24.0,252.00,2.00,35828,4508.29,0.00,0.0,20.0,NaN,NaN
191,192,Powiat bieszczadzki,21489,13485,2,1,0,6,2,15339,21.8,115.4,51.2,271.2,285,20.0,168.00,1.00,10444,4445.97,0.00,0.0,11.0,NaN,NaN
221,222,Powiat kolneński,37887,24035,3,2,5,0,2,30830,59.7,148.2,46.1,114.3,25,61.7,1.53,146.00,2,12488.00,4475.28,0.0,0.0,24.0,NaN
224,225,Powiat sejneński,19689,12011,2,2,1,0,0,15239,51.7,224.3,115.9,503.5,18,188.3,8.18,97.00,2,5272.00,4486.11,0.0,0.0,8.0,NaN
227,228,Powiat suwalski,35577,21894,0,1,1,0,0,30037,60.0,220.5,57.1,209.7,3,9.0,221.90,8.15,322,12897.00,4201.41,0.0,0.0,18.0,NaN
304,305,Powiat braniewski,40776,25482,3,0,0,3,1,37492,35.8,105.5,21.4,63.1,21,76.6,2.26,194.00,2,28345.00,4460.29,0.0,0.0,17.0,NaN
330,331,Powiat kaliski,82911,50642,2,2,2,0,0,78909,114.1,159.6,42.4,59.4,12454,19.0,288.80,4.04,657,30033.00,4195.22,0.0,0.0,48.0,NaN

In [50]:
d[d['identyfikator'] == 331]

,identyfikator,powiat,populacja_ogolem,populacja_produkcyjna,stadiony,hale_sportowe,sale_gimnastyczne,korty_tenisowe,plywalnie,wodociagi,drogi_utwardzone_na_obszar,drogi_utwardzone_na_ludnosc,drogi_gruntowe_na_obszar,drogi_gruntowe_na_ludnosc,gaz,technika_zawodowki,sciezki_rowerowe_na_obszar,sciezki_rowerowe_na_ludnosc,przystanki_zbiorkom,licea,kanalizacja,wynagrodzenia,odbior_odpadow,koszty_odpadow,szkoly_podstawowe
330,331,Powiat kaliski,82911,50642,2,2,2,0,0,78909,114.1,159.6,42.4,59.4,12454,19,288.8,4.04,657,0,30033,4195.22,0.0,0.0,48

,identyfikator,powiat,populacja_ogolem,populacja_produkcyjna,stadiony,hale_sportowe,sale_gimnastyczne,korty_tenisowe,plywalnie,wodociagi,drogi_utwardzone_na_obszar,drogi_utwardzone_na_ludnosc,drogi_gruntowe_na_obszar,drogi_gruntowe_na_ludnosc,gaz,technika_zawodowki,sciezki_rowerowe_na_obszar,sciezki_rowerowe_na_ludnosc,przystanki_zbiorkom,licea,kanalizacja,wynagrodzenia,odbior_odpadow,koszty_odpadow,szkoly_podstawowe
9,10,Powiat lubański,53852,32376,7,2,2,4,2,46302,104.2,82.9,9.1,7.2,28596,24,0.0,0.0,252,2,35828,4508.29,0.0,0.0,20

,id,powiat,populacja_ogolem,populacja_produkcyjna,stadiony,hale_sportowe,sale_gimnastyczne,korty_tenisowe,plywalnie,wodociagi,drogi_utwardzone_na_obszar,drogi_utwardzone_na_ludnosc,drogi_gruntowe_na_obszar,drogi_gruntowe_na_ludnosc,gaz,technika_zawodowki,sciezki_rowerowe_na_obszar,sciezki_rowerowe_na_ludnosc,przystanki_zbiorkom,licea,kanalizacja,wynagrodzenia,odbior_odpadow,koszty_odpadow,szkoly_podstawowe
9,10,Powiat lubański,53852,32376,7,2,2,4,2,46302,104.2,82.9,9.1,7.2,28596,24.0,252.00,2.00,35828,4508.29,0.00,0.0,20.0,NaN,NaN
162,163,Powiat siedlecki,81385,49299,1,1,4,1,0,72787,72.6,143.0,23.8,46.9,10970,0.0,165.90,3.27,1062,32269.00,4503.92,0.0,0.0,46.0,NaN
191,192,Powiat bieszczadzki,21489,13485,2,1,0,6,2,15339,21.8,115.4,51.2,271.2,285,20.0,168.00,1.00,10444,4445.97,0.00,0.0,11.0,NaN,NaN
221,222,Powiat kolneński,37887,24035,3,2,5,0,2,30830,59.7,148.2,46.1,114.3,25,61.7,1.53,146.00,2,12488.00,4475.28,0.0,0.0,24.0,NaN
224,225,Powiat sejneński,19689,12011,2,2,1,0,0,15239,51.7,224.3,115.9,503.5,18,188.3,8.18,97.00,2,5272.00,4486.11,0.0,0.0,8.0,NaN
227,228,Powiat suwalski,35577,21894,0,1,1,0,0,30037,60.0,220.5,57.1,209.7,3,9.0,221.90,8.15,322,12897.00,4201.41,0.0,0.0,18.0,NaN
304,305,Powiat braniewski,40776,25482,3,0,0,3,1,37492,35.8,105.5,21.4,63.1,21,76.6,2.26,194.00,2,28345.00,4460.29,0.0,0.0,17.0,NaN
330,331,Powiat kaliski,82911,50642,2,2,2,0,0,78909,114.1,159.6,42.4,59.4,12454,19.0,288.80,4.04,657,30033.00,4195.22,0.0,0.0,48.0,NaN